version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: "daily"
      time: "10:00"
    open-pull-requests-limit: 1000
    reviewers:
      - "michaelbel"
    assignees:
      - "michaelbel"
