*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!/app/src/main/assets/config.properties
/hs_err_pid3668.log
/app/google-services.json
!/app/src/main/res/xml/analytics.xml
/app/src/main/assets/config.properties
