<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="2">

    <dist:module
        dist:instant="true"
        dist:title="@null">

        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="false" />

    </dist:module>

    <application
        tools:ignore="MissingApplicationIcon">

        <activity
            android:name="org.michaelbel.movies.dynamic.InstantMainActivity"
            android:exported="true"
            android:theme="@style/Theme.Movies">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>

    </application>

</manifest>