<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.michaelbel.moviemade">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.samsung.permission.SSENSOR"/>
    <!--uses-permission android:name="android.permission.BIND_VOICE_INTERACTION"/-->
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->

    <application
        android:name=".Moviemade"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:fullBackupContent="false">

        <activity android:name=".ui.modules.main.MainActivity" android:screenOrientation="user" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--Authorization callback URL looks like this: moviemade://main-->
                <data android:host="main" android:scheme="moviemade"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.modules.movie.MovieActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.trailers.TrailersActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.reviews.activity.ReviewsActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.reviews.activity.ReviewActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.search.SearchActivity" android:screenOrientation="user" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.modules.settings.SettingsActivity" android:screenOrientation="user"/>
        <activity android:name=".ui.modules.about.AboutActivity" android:screenOrientation="user"/>
        <activity android:name=".ui.modules.favorite.FavoriteActivity" android:screenOrientation="user"/>
        <activity android:name=".ui.modules.keywords.KeywordsActivity" android:screenOrientation="user"/>

    </application>

</manifest>