<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.michaelbel.moviemade">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!--uses-permission android:name="android.permission.BIND_VOICE_INTERACTION"/-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.samsung.permission.SSENSOR" />

    <application
        android:name=".Moviemade"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false">

        <activity android:name=".ui.modules.main.MainActivity" android:screenOrientation="user" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="auth_callback_anything" android:scheme="anything"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.modules.movie.MovieActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.trailers.TrailersActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.reviews.activity.ReviewsActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.reviews.activity.ReviewActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.modules.search.SearchActivity" android:screenOrientation="user" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.modules.settings.SettingsActivity" android:screenOrientation="user"/>
        <activity android:name=".ui.modules.about.AboutActivity" android:screenOrientation="user"/>

        <!--<receiver android:name=".ui.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>-->

        <!--
        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https" android:host="www.themoviedb.org" android:pathPrefix="/movie/"/> &lt;!&ndash;https://www.themoviedb.org/movie/&ndash;&gt;
            <data android:scheme="https" android:host="www.themoviedb.org" android:pathPrefix="/movie"/>  &lt;!&ndash;https://www.themoviedb.org/movie&ndash;&gt;
            <data android:scheme="https" android:host="themoviedb.org" android:pathPrefix="/movie/"/>     &lt;!&ndash;https://themoviedb.org/movie/&ndash;&gt;
            <data android:scheme="https" android:host="themoviedb.org" android:pathPrefix="/movie"/>      &lt;!&ndash;https://themoviedb.org/movie&ndash;&gt;
        </intent-filter>
        -->

        <activity
            android:name=".ui.modules.review.ReviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.modules.watchlist.FavoriteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.modules.watchlist.WatchlistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.modules.company.CompanyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

    </application>

</manifest>