<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <package android:name="org.michaelbel.movies" />
    </queries>

    <application
        android:name="org.michaelbel.movies.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:label="${appName}"
        android:localeConfig="@xml/locale_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movies.Starting"
        android:icon="@mipmap/ic_launcher_red"
        android:roundIcon="@mipmap/ic_launcher_red"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="org.michaelbel.movies.MainActivity"
            android:exported="true">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.themoviedb.org"
                    android:path="/movie"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.themoviedb.org"
                    android:path="/movie"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:ignore="AppLinkUrlError">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirect_url"
                    android:scheme="movies" />

            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="details"
                    android:scheme="movies" />

            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="settings"
                    android:scheme="movies_shortcut" />

            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="search"
                    android:scheme="movies_shortcut" />

            </intent-filter>

        </activity>

        <activity
            android:name="org.michaelbel.movies.widget.configure.AppWidgetConfigureActivity"
            android:theme="@style/Theme.Movies"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>

        <activity-alias
            android:name="org.michaelbel.movies.RedIcon"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_red"
            android:roundIcon="@mipmap/ic_launcher_red"
            android:targetActivity="org.michaelbel.movies.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name="org.michaelbel.movies.PurpleIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_purple"
            android:roundIcon="@mipmap/ic_launcher_purple"
            android:targetActivity="org.michaelbel.movies.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name="org.michaelbel.movies.BrownIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_brown"
            android:roundIcon="@mipmap/ic_launcher_brown"
            android:targetActivity="org.michaelbel.movies.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name="org.michaelbel.movies.AmoledIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_amoled"
            android:roundIcon="@mipmap/ic_launcher_amoled"
            android:targetActivity="org.michaelbel.movies.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

        </activity-alias>

        <receiver
            android:name="org.michaelbel.movies.widget.MoviesGlanceWidgetReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movies_appwidget_provider" />

        </receiver>

        <receiver
            android:name="org.michaelbel.movies.widget.configure.AppWidgetPinnedReceiver"
            android:exported="false" />

        <!-- Per-App Language Preferences (https://d.android.com/guide/topics/resources/app-languages) -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">

            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />

        </service>

        <!-- AdMob -->
        <!--<meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobAppId" />-->

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

            <!--<meta-data
                android:name="org.michaelbel.movies.common.crashlytics.FirebaseCrashlyticsInitializer"
                android:value="androidx.startup"/>-->

        </provider>

    </application>

</manifest>