<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.michaelbel.moviemade">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.App.Starting"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="org.michaelbel.moviemade.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--Authorization callback URL looks like this: moviemade://main-->
                <data android:host="main" android:scheme="moviemade"/>
            </intent-filter>
        </activity>
        
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="org.michaelbel.moviemade.app.initializer.FirebaseCrashlyticsInitializer"
                android:value="androidx.startup"
                tools:node="remove"/>

            <meta-data
                android:name="org.michaelbel.moviemade.app.initializer.FirebaseConfigInitializer"
                android:value="androidx.startup"
                tools:node="remove"/>

            <meta-data
                android:name="org.michaelbel.moviemade.app.initializer.TimberInitializer"
                android:value="androidx.startup"
                tools:node="remove"/>

        </provider>

        <!--AdMob-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobAppId"/>

        <!-- Downloadable Fonts (https://d.android.com/guide/topics/ui/look-and-feel/downloadable-fonts) -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

    </application>

</manifest>